.carouselContainer{
    background-color: #e9e9e9;
    padding: 18px 10px;
}
.slider-wrapper, .imageHeight{
    height: 300px;
}

@media screen and (max-width:900px) {
    .slider-wrapper, .imageHeight{
        height: 230px;
    }
    .carouselContainer{
        padding: 8px 5px;
    }
}