.navbar{
    background-color: #1f1fff;
    /* position: fixed; */
    width: 100vw;
    max-width: 100vw;
    height: 55px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 200px;
    color: white;
    z-index: 1;
}
.logo{
    font: 800 30px Albert Sans !important;
}
.searchForm{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.searchForm > input{
    width: 30vmax;
    padding: 9px 40px 9px 15px;
    border: none;
    outline: none;
    font-size: 15px;
}
.searchForm > svg{
    position: absolute;
    right: 8px;
    color: blue;
}
.profile{
    width: 5vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile > button{
    background-color: white;
    color: black;
    transition: all 0.2s;
}
.profile > button:hover{
    background-color: rgb(235, 229, 229);
}
.cartSvg{
    font-size: 2vmax;
    cursor: pointer;
}

.dBox{
    width: 25vmax;
    height: 25vmax;
}
.closeLoginBoxIcon{
    cursor: pointer;
    align-self: flex-end;
    margin: 4px;
}
.closeLoginBoxIcon:hover{
    color: rgb(236, 82, 82);
}

.loginBox, .registerBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: all 0.3s;
    width: 100%;
}
.MuiDialog-paperWidthSm{
    overflow: hidden;
}

.TX{
    transform: translateX(600px);
}
.NTX{
    transform: translateX(-600px);
}
.UTX{
    transform: translateX(0px);
}
.formInputs{
    margin: 9px !important;
    width: 80%;
}
.loginBox > a{
    text-decoration: none;
    margin: 10px;
    font-family: sans-serif;
    color: #786c6c;
}
.loginBox > button, .registerBox > button{
    margin: 10px;
}

@media screen and (max-width:900px) {
    .navbar{
        height: 96px;
        padding: 7px;
        align-items: unset;
        justify-content: space-between;
        background-color: #0099ffe3;
    }
    .searchForm{
        position: absolute;
        top: 55px;
    }
    .searchForm > input{
        width: 96vw;
    }
    .profile{
        height: 34px;
        margin-left: 128px;
    }
    .cartSvg{
        font-size: 33px !important;
    }
    .dBox{
        width: 83vw;
        height: 112vw;
    }
}